<h1>プロフィール情報</h1>

<h2 class="info">基本情報</h2>
        <table initialTab="table_info" %>
            <tr>
                <th>ニックネーム</th>
                <td>未設定</td>
            </tr>
            <tr>
                <th>ユーザーID</th>
                <td>未設定</td>
            </tr>
            <tr>
                <th>登録日時</th>
                <td>未設定</td>
            </tr>
        </table>

<h2 class="namechange">ニックネーム変更</h2>
